body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: green;
    text-align: center;
    padding: 10px;
  }
  
  .top-bar {
    color: white;
    font-weight: bold;
  }
  
  main {
    margin: 20px auto;
    max-width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    font-size: 14pt;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    max-width: 500px;
  }
  
  .form-row label {
    flex-basis: 40%;
  }
  
  .form-row input,
  .form-row select {
    flex-basis: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13pt;
  }
  
  .form-row input.required-field,
  .form-row select.required-field {
    border: 1px solid red;
  }

  .submit-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  #fuel-log-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #fuel-log-table th,
  #fuel-log-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: darkgrey;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    /* Mobile-specific styling goes here */
    main {
      max-width: 100%;
      padding: 10px;
    }
  
    .form-row {
      width: 100%;
    }
  }
  