body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.top-bar {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
}

.top-bar h1 {
    margin: 0;
    flex: 1; /* Centers the h1 element within the top-bar */
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.input-group label {
    flex-basis: 200px; /* Fixed width for the labels */
}

/* Arrange the input fields in two columns */
.refuel-inputs {
    display: flex;
    flex-wrap: wrap;
}

/* Set the width of each input group to 50% to create two columns */
.refuel-inputs .input-group {
    flex-basis: 50%;
}

#addRefuelBtn {
    margin-top: 10px;
    margin-right: 10px;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.language-dropdown {
    display: inline-block;
    position: relative;
}

.language-dropdown .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}

.language-dropdown .dropbtn:hover, .language-dropdown .dropbtn:focus {
    background-color: #45a049;
}

.language-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.language-dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.language-dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 1;
}

#addRefuelBtn {
    grid-column: span 2;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#addRefuelBtn:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #45a049;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

/* Rounded input fields */
input[type="date"],
input[type="number"],
input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    transition: border-color 0.2s;
}

input[type="date"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
    border-color: #4CAF50;
}
